
<div class="form-control">

</div>

<div class="jumbotron">
    <h2>Saiba mais sobre mim:</h2>
    <h4>Wiliam Kern Franco</h4>
    <p><a href="https://www.linkedin.com/in/wiliam-kern-franco-39a92a114/" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>
